* {
  color: white;
}
body{
  background-color: var(--background);
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: "Open Sans", sans-serif;
  -moz-osx-font-smoothing: "Open Sans", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary: #a786ff;
  --header--color: #dcd6ff;
  --bg-shade: #0b0b14;
  --github: #7f6cff;
  --darkblue: #b6b0e8;
  --background: #110c1d;
  --white: #f6f4ff;
  --alt: #191325;
}

.btn {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  transition: background-color 0.5s;

  -webkit-transition: 5px;
  -moz-transition: 5px;
  -ms-transition: 5px;
  -o-transition: 5px;
}

.btn--outline-primary {
  color: var(--primary);
  background-color: var(--background);
  border: 1px solid var(--primary);
}

.btn--outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}

.btn--primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn--primary:hover {
  color: var(--primary);
  background-color: var(--alt);
}

.btn--github {
  color: var(--white);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
}

.btn--github:hover {
  color: var(--github);
  background-color: var(--white);
}

/* Global CSS Ends */

/* Main Headings */

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* body */

.text--lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.text--md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.text--sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Skills */
.section--title {
  color: var(--header-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}

/* Portflio */
.sub--title {
  color: var(--header-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* section title ends */


/* Navbar Styles start */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85px;
  background: var(--background);
  box-shadow: 0px 5px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar--items > ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 42px;
  text-decoration: none;
}

.navbar-items > ul > li > a {
  text-decoration: none;
}

.navbar--content{
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.navbar--active-content{
  color: var(--primary);
}





/* Hero section styles */
.hero--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133px 85px 133px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: var(--bg-shade);
}

.hero--section--content--box {
  display: flex;
  flex-direction: column;
  align-items: flex;
  gap: 32px;
}

.hero--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex;
  gap: 21px;
}

.hero--section--content--box > button {
  margin-top: 21px;
}

.hero--section--title {
  color: var(--header-color);
  font-size: 74px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;
}

.hero--section--title--color {
  color: var(--primary);
}

.hero--section--description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.hero--section--img {
  display: flex;
}

.hero--section--img > img {
  width: 100%;
  height: 100%;
}
/* HeroSection ends */

